#define BEEP_PIN   (34)

void setupTimer(){
	// initialize timer5
	noInterrupts();           // disable all interrupts
	TCCR5A = 0;
	TCCR5B = 0;
	TCNT5  = 0;

	OCR5A = (250 * SYNC_T / PWM_INT_DIV);            // compare match register 16MHz/256/2Hz
	TCCR5B |= (1 << WGM12);   // CTC mode
	TCCR5B |= (1 << CS10) | (1<<CS11);    // 64 prescaler 
	TIMSK5 |= (1 << OCIE1A);  // enable timer compare interrupt

        //timer4
	TCCR4A = 0;
	TCCR4B = 0;
	TCNT4  = 0;

        OCR4A = 18;               // 440Hz : 16 MHz / 1024 / 35
        TCCR4B |= (1 << WGM12);   // CTC mode
        TCCR4B |= (1 << CS10) | (1<<CS12);    // 1024 prescaler
        TIMSK4 |= (1 << OCIE1A);  // enable timer compare interrupt

	interrupts();             // enable all interrupts
}

static uint8_t detect_beep = 0;
static uint8_t detect_beep_prev = 0;
static bool beep_mask = false;

static volatile uint16_t sync_cnt = 0;
static  volatile uint16_t timer_beep_counter = 0;
static  bool beep_temp = true;

ISR(TIMER4_COMPA_vect){
  if((timer_beep_counter != 0) && (beep_mask == false))
     digitalWrite(BEEP_PIN, beep_temp);    // digitalWrite(BEEP_PIN, digitalRead(BEEP_PIN) ^ 1);
     
     beep_temp = !beep_temp;
     
}

void loop()
{
...

timer_beep_counter = 10;    // 100ms total 

        if (timer_beep_counter != 0){
          timer_beep_counter--;
        }
        
}
